.reviews-container {
  display: flex;
  p {
    font-size: 0.9rem;
    color: $color-primary;
    font-weight: 400;
  }
  > div {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .font-awesome-icon {
    color: $color-primary;
  }
  .faded {
    color: $color-text-light-gray;
  }
}
