// colours
$color-primary: #008190;
$color-primary-light: #d8ecee;
$color-dark-gray: #f2f2f2;

$color-background-dark: #5e6163;
$color-background-secondary: #2b8471;

$color-text-white: #f8f8ff;
$color-text-black: #0e1111;
$color-text-gray: #4d4f53;
$color-text-light-gray: #707070;
$color-text-gray-complementary: #464c78;

$color-primary-hover: lighten($color-primary, 50%);
$color-text-white-hover: darken($color-text-white, 4%);
$color-text-gray-hover: darken($color-dark-gray, 5%);
$color-background-dark-hover: lighten($color-background-dark, 3%);
$color-text-black-hover: lighten($color-text-black, 15%);

$color-border: #ccc;

// size units
$container-max-width: 1199px;
