.logo {
  color: $color-text-white;
  font-weight: 600;
  font-size: 2rem;
  font-family: Georgia, serif;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 100;
  margin: auto 0;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.2);
}

.logo-link {
  @extend .logo;
  text-decoration: none;
  &:hover {
    color: $color-text-white-hover;
  }
}
