.header-wrapper {
  width: 100vw;
  margin-bottom: 2.5rem;
  > div {
    padding: 0 2rem;
    &:last-child {
      padding: 0.5rem 2rem;
    }
  }
  @include md-down {
    > div {
      padding: 0 1rem;
      &:last-child {
        padding: 0.5rem 1rem;
      }
    }
  }
}

.fade-page {
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.top-navigation-wrapper {
  background-color: $color-dark-gray;
  width: 100%;
}

.top-navigation-container {
  .top-navigation {
    max-width: $container-max-width;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a,
    div {
      text-decoration: none;
      margin-right: 1rem;
      padding: 0.4rem;
      color: $color-text-gray;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: $color-text-gray-hover;
        cursor: pointer;
      }
    }
    @include md-down {
      div:last-of-type {
        margin-right: 0;
      }
    }
    .desktop-navigation-link {
      @include md-down {
        display: none;
      }
    }
  }
}

.bottom-navigation-wrapper {
  background-color: $color-primary;
  width: 100%;
}

.bottom-navigation-container {
  min-height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-text-white;

  .bottom-left {
  }
  .bottom-middle {
    .search-box {
      border: 1px solid black;
      display: flex;
      background: $color-text-white;
    }
    input {
      border: none;
      outline: none;
      background: $color-text-white;
      padding: 0.5rem;
    }
    button {
      border: 0;
      background: $color-text-white;
      outline: none;
      cursor: pointer;
    }
    .font-awesome-icon {
      color: $color-primary;
    }
  }

  .bottom-right-desktop {
    display: flex;
    font-size: 1.2rem;
    .desktop-dropdown {
      position: relative;
      z-index: 3;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      > p {
        margin: 0;
        padding: 0.4rem;
        padding: 1rem;
        text-align: right;
        cursor: pointer;
      }
      > div {
        display: none;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        background: $color-dark-gray;
        padding: 1rem;
        width: 350px;
        right: 0;
        top: 100%;
        flex-direction: column;
        a {
          &:first-child {
            @extend %link-like-button-primary;
          }
          &:last-child {
            @extend %link-like-button-secondary;
          }
        }
        .greeting {
          text-align: left;
          font-weight: 600;
          margin-bottom: 1rem;
        }
        .logout-button {
          @extend %button-secondary;
        }
      }

      &:hover {
        background: $color-dark-gray;
        p {
          color: $color-text-black;
        }
        > div {
          display: flex;
          opacity: 1;
        }
      }
    }
    .lower-z-index {
      z-index: 1;
    }
  }
  .bottom-right-mobile {
    display: none;
  }

  @include md-down {
    .bottom-right-desktop {
      display: none;
    }
    .bottom-right-mobile {
      display: block;
      padding: 0 1rem;
    }
  }
  @include xs-down {
    justify-content: flex-end;
    .bottom-left {
      margin-right: auto;
    }
    .bottom-middle {
      margin-right: 1rem;
      .search-box {
        background: none;
        border: none;
      }
      button {
        background: none;
      }
      input {
        display: none;
      }
      .font-awesome-icon {
        color: $color-text-white;
      }
    }
  }
}

.font-awesome-icon {
  color: $color-text-white;
  font-size: 2.5rem;
  margin: 0;
  padding: 0.4rem;
}
